body {
    margin: 0;
    padding: 24px;
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 24px;
}